/* PostPage.module.css */

.postPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.postContainer {
  max-width: 1100px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.postPageImage {
  width: 1100px;
  height: 680px;
  object-fit: cover;
}

.postPageText img {
  width: 1100px;
  height: 680px;
  object-fit: cover; /* Заполняем контейнер, сохраняя пропорции изображения */
}

.postPageTitle {
  width: 1100px;
  color: black;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 10px;
}

.postPageText {
  width: 1100px;
  color: black;
  font-size: 26px;
  line-height: 32px;
}

