/* searchPage.module.css */

.searchContainer {
    width: 1130px;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру по горизонтали */
  }
  
  .searchRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
    
  .search {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Расстояние между постами */
  }

.inputWithButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid rgb(26, 26, 26);
  border-radius: 5px;
  margin-left: 30px;

  .clear {
    position: absolute;
    width: 14px;
    height: 14px;
  }
}
