/* searchPage.module.css */

.searchContainer {
    width: 1130px;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру по горизонтали */
  }
  
  .searchRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .searchLeft {
    max-width: 720px;
  }
  
  .search {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Расстояние между постами */
  }
  
  .searchRight {
    display: flex; /* Добавляем свойство display: flex; для управления потомками */
    flex-direction: column; /* Размещаем потомков в колонке */
    align-items: flex-start; /* Выравниваем по левому краю */
    max-width: 410px;
  }
  
  



.inputWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid rgb(26, 26, 26);
  border-radius: 5px;
  margin-left: 30px;

  .clear {
    position: absolute;
    width: 14px;
    height: 14px;
  }
}

.inputButton {
  color: rgb(26, 26, 26);
  display: inline-block;
  font-family: 'Roboto, sans-serif';
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 24px;
  text-decoration: none;
  width: 50px;
  background-color: transparent; /* Добавлено свойство */
  transition: color 0.3s, border-color 0.3s; /* Добавлены свойства для плавного перехода цвета */
}

.button:hover {
  color: #d31a22; /* Цвет текста при наведении */
  border-color: #d31a22; /* Цвет границы при наведении */
}
