/* Navigation.module.css */

/* Стили для блока с фиксированной навигацией */
.NavigationSticky {
  position: sticky; /* Определяет, что элемент является "липким" (стоит на месте, когда пользователь прокручивает страницу) */
  z-index: 1000; /* Определяет порядок слоя элемента в пространстве */
  top: 0; /* Устанавливает расстояние от верхней границы до верха "липкого" элемента */
}

/* Стили для блока навигации */
.nav {
  display: flex; /* Устанавливает блочный контекст для элемента, чтобы дочерние элементы располагались в ряд */
  background-color: #2a2a2a; /* Задает цвет фона для блока навигации */
  font-size: 21px; /* Задает размер шрифта для текста в блоке навигации */
  align-items: center; /* Выравнивает элементы по центру по вертикали */
  top: 0; /* Устанавливает расстояние от верхней границы до верха блока навигации */
  height: auto; /* Высота блока навигации48px */
  justify-content: center; /* Выравнивает элементы по центру по горизонтали */
}

/* Стили для отдельного элемента навигации */
.navLink {
  color: white; /* Задает цвет текста для элементов навигации */
  text-decoration: none; /* Убирает стандартное подчеркивание для ссылок */
  position: relative; /* Устанавливает позицию элемента относительно его нормального положения */
  height: 100%; /* Займем 100% высоты блока навигации */
  flex-direction: center; /* Определяет направление главной оси внутри блока навигации */
  justify-content: space-between; /* Распределяет пространство между элементами внутри блока навигации */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Добавляет плавные переходы для цвета текста и подчеркивания */
  display: flex; /* Устанавливает блочный контекст для элемента, чтобы дочерние элементы располагались в ряд */
  align-items: center; /* Выравнивает элементы по центру по вертикали */
  margin-right: 40px; /* Устанавливает правый отступ между элементами навигации */
  margin-left: 40px; /* Устанавливает левый отступ между элементами навигации */
}

/* Стили для подчеркивания */
.navLink::after {
  content: ''; /* Генерирует пустой контент, необходимый для создания псевдоэлемента */
  position: absolute; /* Позиционирует псевдоэлемент абсолютно относительно ближайшего позиционированного родителя */
  bottom: 0; /* Устанавливает расстояние от нижней границы элемента до нижней границы псевдоэлемента */
  left: 0; /* Устанавливает расстояние от левой границы элемента до левой границы псевдоэлемента */
  width: 0; /* Начальная ширина подчеркивания (0, чтобы начать с невидимого состояния) */
  height: 7px; /* Высота подчеркивания */
  background-color: #d31a22; /* Цвет подчеркивания */
  transition: width 0.3s ease; /* Плавное изменение ширины при hover или активном состоянии */
}

/* Стили для активного и при наведении на NavLink */
.navLink.active::after,
.navLink:hover::after {
  width: 150%; /* Увеличиваем ширину подчеркивания при наведении или если элемент активен */
  left: -25%; /* Сдвигаем подчеркивание влево на 25% */
}

/* Изменение жирности шрифта при наведении с использованием text-shadow */
.navLink:hover {
  text-shadow: 0 0 5px #ffffff; /* Изменяем тень текста для создания эффекта жирности */
}

/* Добавление стилей для экранов от 900px до 600px */
@media screen and (max-width: 950px) and (min-width: 600px) {
  .navLink {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
  }
}


/* Добавление стилей для экранов 600px и менее */
@media screen and (max-width: 600px) {

  .navLink {
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
    font-size: 17px;
  
  }

  /* Размещение NavLink в две колонки по три штуки */
  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navLink {
    width: calc(40% - 30px); /* Учитывает отступы 15px с обеих сторон */
    margin: 0px 0px; /* Устанавливает отступы сверху и снизу 10px, слева и справа 15px */
  }
  .navLink::after {
    height: 5px;
  }
  
  /* Стили для активного и при наведении на NavLink */
  .navLink.active::after,
  .navLink:hover::after {
    width: 50%; /* Увеличиваем ширину подчеркивания при наведении или если элемент активен */
    left: 25%; /* Сдвигаем подчеркивание влево на 25% */
  }
}
